@import "@deco/ui/styles/global.css";
@import "dockview-react/dist/styles/dockview.css";

/* include the ui package */
@source "../../packages/ui";

@layer base {
  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  * {
    --dv-paneview-active-outline-color: var(--color-ring);
    --dv-tabs-and-actions-container-font-size: 0.875rem;
    --dv-tabs-and-actions-container-height: auto;
    --dv-tab-close-icon: var(--color-foreground);
    --dv-drag-over-background-color: var(--color-accent);
    --dv-drag-over-border-color: var(--color-border);
    --dv-tabs-container-scrollbar-color: var(--color-muted);
    --dv-group-view-background-color: var(--sidebar);
    --dv-tabs-and-actions-container-background-color: var(--color-background);
    --dv-activegroup-visiblepanel-tab-background-color: transparent;
    --dv-activegroup-hiddenpanel-tab-background-color: transparent;
    --dv-inactivegroup-visiblepanel-tab-background-color: transparent;
    --dv-inactivegroup-hiddenpanel-tab-background-color: transparent;
    --dv-tab-divider-color: transparent;
    --dv-activegroup-visiblepanel-tab-color: var(--color-accent-foreground);
    --dv-activegroup-hiddenpanel-tab-color: var(--color-muted-foreground);
    --dv-inactivegroup-visiblepanel-tab-color: var(--color-muted-foreground);
    --dv-inactivegroup-hiddenpanel-tab-color: var(--color-muted-foreground);
    --dv-separator-border: var(--color-border);
    --dv-paneview-header-border-color: var(--color-border);
    --dv-icon-hover-background-color: var(--color-accent);
    --dv-floating-box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --dv-active-sash-color: var(--color-slate-50);
    --dv-background-color: var(--color-background);

    .dv-view.visible:not(:has(.dv-view.visible)) {
      @apply p-0 md:p-1;
    }

    .dv-view.visible {
      @apply w-full;
    }

    .dv-void-container {
      @apply bg-muted border-b;
    }

    .dv-tab {
      @apply border-b;
    }

    .dv-inactive-tab .dv-react-part {
      @apply border-b-0;
    }

    .dv-tabs-container {
      @apply bg-muted;
    }

    .dv-inactive-group {
      @apply bg-muted;
    }

    .dv-groupview {
      @apply border;
    }

    .dv-groupview {
      @apply md:rounded-xl md:shadow-md;
    }

    .dv-content-container {
      @apply bg-background;
    }

    .dv-tab {
      @apply p-0!;
    }

    .dv-active-tab [data-active="true"] {
      @apply bg-white! rounded-t-xl! border border-b-2 border-b-white m-[-1px]
        mr-0 mb-[-2px];
    }

    .one-tab .dv-scrollable {
      @apply grow-0!;
    }

    .prose ul {
      @apply list-disc pl-6;
    }

    .prose ol {
      @apply list-decimal pl-6;
    }

    .prose h1 {
      @apply text-2xl font-bold;
    }

    .prose h2 {
      @apply text-xl font-bold;
    }

    .prose h3 {
      @apply text-lg font-bold;
    }

    .prose h4 {
      @apply text-base font-bold;
    }

    .prose h5 {
      @apply text-sm font-bold;
    }

    .prose h6 {
      @apply text-xs font-bold;
    }

    .prose a {
      @apply text-primary-light underline;
    }

    .prose pre {
      @apply whitespace-pre-wrap break-words;
      overflow-wrap: anywhere;
    }

    .prose pre code {
      @apply my-2 rounded-lg bg-primary-light/10 border border-primary-light
        block whitespace-pre-wrap !p-2 break-words;
      overflow-wrap: anywhere;
    }

    .prose code {
      @apply rounded bg-muted-foreground/10 border border-muted-foreground/20
        whitespace-pre-wrap px-1 leading-normal inline break-words;
      overflow-wrap: anywhere;
    }

    .prose hr {
      @apply my-4 border-border;
    }
  }
}
