name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      # Remove when lint is migrated to Biome
      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install dependencies
        run: bun install

      - name: Run format
        run: bun run fmt:check

      - name: Run lint
        run: bun run lint

      - name: Run check
        run: bun run check

      - name: Run test
        run: bun run test
